
.maps{
    max-width: 350px;
    height: 25px;
    padding: 10px;
    padding-bottom: 130px;
}
#map{
    /* height: 100%; */
    width: 100%;
    padding: 10px;
}
html, body{
    /* height: 100%; */
    width: 100%;
    margin: 0 auto;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background:#59ABE3;
}
