.maps{
    max-width: 350px;
    height: 25px;
    padding: 10px;
    padding-bottom: 130px;
}
#map{
    /* height: 100%; */
    width: 100%;
    padding: 10px;
}
html, body{
    /* height: 100%; */
    width: 100%;
    margin: 0 auto;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background:#59ABE3;
}

.form{
    max-width:340px;
    height:auto-fill;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:10px 10px;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative
}

h2{
    margin:10px 0;padding-bottom:10px;width:180px;color:#78788c;border-bottom:3px solid #78788c
}

input{
    width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid #bebed2
}

input:focus{
    border-bottom:2px solid #78788c
}

p:before{
    content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a
}

button{
    width: 250px;
    text-align: center;
    padding:8px 12px;
    margin:0 auto;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:rgb(128, 251, 202);
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}

button:hover{
    background:#78788c;color:#fff
}

.botton1{
    position: relative;
    margin: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}


span{
    margin:0 5px 0 15px
}

#vehicle1{
    width:10%;
    margin-top:7%;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}

.videos{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
    background:transparent;
    border-radius:8px;
    font-family:'Montserrat',sans-serif;
    position:relative;

}
.videos1{

    max-width:90%;
    height:auto-fill;
    background:#e6e6e6;
    border-radius:8px;

    font-family:'Montserrat',sans-serif;
    position:relative
}


#map {
    min-height: 500%;
    /* min-width: 100%; */

}
/* div{
    position:relative;
    padding: 50px;
    height: 100%;
} */

@media only screen and (min-width: 800px){
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .videos{
        margin-top: -50%
    }
    
}
