
.maps{
    max-width: 330px;
    height: 100%;
    padding: 10px;
}
#map{
    height: 100%;
    width: 90%;
    padding: 10px;
}
html, body{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    background:#59ABE3;
}
